body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#diary-info {
    background: white;
    margin: 10px;
    padding-top: 4px;
    padding-bottom: 2px;
    border: 1px solid #ddd;
    border-radius: 5px
}

#diary-username {
    margin-top: 2px;
    font-weight: 600;
}

#diary-content {
    text-indent: 2em;
}

#diary-time {
    color: gray;
    margin-top: 0px;
}

#deshan {
    width: 300px;
    height: 300px;

}
